<div class="container mx-auto card">
  <h1 class="heading text-center mb-4">Update your blog post!</h1>
  <div class="p-4">
    <%= render partial: 'form', locals: { blog_post: @blog_post } %>
    <%= button_to "Delete Post", blog_post_path(@blog_post.id), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "deleteButton mt-2" %>
  </div>
</div>
