<div class="container mx-auto card">
  <h1 class="heading text-center mb-4">Add a new blog post here!</h1>
  <%# This code creates a form using the form_with helper method that will be associated with an instance of the BlogPost model (@blog_post instance variable). %>
  <%# The form_with method takes a model option which specifies the object (in this case @blog_post) that the form should be associated with. The form variable inside the block can be used to generate form input fields for the model attributes. %>
  <%# The form will be submitted to the controller's create action by default, as it was not specified in the form_with method. %>
  <%# The controller's action that the form will be submitted to can be specified by passing the url or action options to the form_with method. For example, if you want to submit the form to a different controller action than the default one, you can specify it like this: %>
  <%# local: true option specifies that the form should be submitted using AJAX, which is optional. %>
  <%# No, the :title symbol used in form.text_field :title and form.label :title is used to identify the attribute of the form's associated model that the field is for and label is referring to. It does not automatically fill in the value of the input. However, if the model instance @blog_post has a value for the title attribute, it will be shown as the value of the input field by default. %>
  <div class="p-4">
    <%= render partial: 'form', locals: { blog_post: @blog_post } %>
  </div>
</div>
