<div class='card my-8 max-w-3xl mx-auto'>
  <div>
    <div>
      <h1 class="font-semibold text-2xl text-gray-900 inline"><%= @blog_post.title%></h1>
      <% if @blog_post.draft? %>
        <span class="badge text-red-600 bg-red-200">Draft</span>
      <% elsif @blog_post.scheduled? %>
        <span class="badge text-yellow-600 bg-yellow-200">Scheduled</span>
      <% else %>
        <span class="badge text-green-600  bg-green-200 ">Published</span>
      <% end %>
    </div>
    <p><%= @blog_post.body%></p>
  </div>
  <div class='flex items-center mt-4 '>
    <%= link_to 'Edit blog' , edit_blog_post_path(@blog_post) , class:"editButton max-w-fit"%>
    <%= button_to "Delete Post", blog_post_path(@blog_post.id), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "deleteButton ml-2" %>
  </div>
</div>
