<div class='card my-8 max-w-3xl mx-auto'>
  <h1 class="font-semibold text-2xl text-gray-900"><%= @blog_post.title%></h1>
  <p><%= @blog_post.body%></p>
  <%= link_to 'Edit blog' , edit_blog_post_path(@blog_post) , class:"editButton mt-4 block max-w-fit"%>
</div>
