<header class="bg-indigo-700 p-4 mb-8 flex justify-between items-center">
  <h1 class="text-white font-semibold text-2xl ">My Awesome Blog Posts!</h1>
  <%if user_signed_in?%>
    <div class='flex items-center space-x-2'>
      <%= link_to "Profile" ,edit_user_registration_path , class:"bg-gray-100 text-gray-800 px-3 py-2 rounded-md hover:bg-gray-200"%>
      <%= button_to "Sign out",destroy_user_session_path	, method: :delete , class:'text-gray-50'%>
    </div>
  <%else%>
    <div class='space-x-2'>
      <%= link_to "Log in", new_user_session_path, class:'bg-gray-100 text-gray-800 px-3 py-2 rounded-md hover:bg-gray-200'%>
      <%= link_to "Sign up", new_user_registration_path	, class:'text-gray-50'%>
    </div>
  <%end%>
</header>
